

#main{
    position: fixed;
	top: 30%;
	left: 50%;
	padding: 20px;
	width: 360px;
	margin-left: -200px;	
	background: #fff;
	
	border-radius: 15px; 
	z-index: 99999;
	opacity: 1;	
}

.container{
    width: 90%;
}

.popup-fade:before {
	content: '';
	background: #000;
	position: fixed; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%;
	opacity: 0.3;
	z-index: 9999;
}

.btn{
    background: linear-gradient( to left, #1EA39B, #38EF7D);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border: none;
    font-style: normal;
    margin-top: 20px;
    
    line-height: 22px;
    color: white;
    height: 32px;
    width: 100%;
}